body {
    font-family: 'Poppins',open sans,sans-serif;
    font-size: 14px;
    color: #222121;
    line-height: 30px;
    background: #f3f4f5;
    background-size: cover
}

input,select,textarea {
    font-family: 'Poppins',open sans,sans-serif;
    font-size: 1em
}

.wrap {
    width: 96%;
    margin: 0 auto;
    max-width: 1300px;
    position: relative
}

h3 {
    font-weight: 400
}

.over {
    overflow: hidden
}

img,a {
    border: 0
}

ul,li {
    list-style: none
}

* {
    margin: 0;
    padding: 0
}

.flt {
    float: left
}

.frt {
    float: right
}

.clear {
    clear: both
}

p {
    color: #2b2b2b
}

.clear:after,.clear:before {
    content: '';
    clear: both;
    display: table
}

img {
    max-width: 100%
}

.img {
    overflow: hidden;
    position: relative
}

.img:before {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    z-index: 100
}

.img:hover:before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid rgba(255,255,255,.5)
}

.img:hover img {
    transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
    -webkit-transform: scale(1.1) rotate(3deg);
    -moz-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg)
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    margin: 0!important;
    padding: 0!important
}

.owl-theme .owl-controls {
    bottom: 0%;
    height: 0
}

.owl-theme .owl-controls .owl-nav {
    height: 0;
    position: relative
}

.owl-theme .owl-controls .owl-nav .owl-prev {
    left: 5%
}

.owl-theme .owl-controls .owl-nav .owl-next {
    right: 5%
}

.owl-theme .owl-dots .owl-dot span {
    width: 4px;
    height: 4px;
    opacity: .2
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
    width: 30px;
    background: #222121
}

*,*:after,*:before {
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.26);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    line-height: 80px
}

.header.fixed {
    background: rgba(0,0,0,.3)
}

.header .logo {
    width: 215px;
    text-align: center
}

.header .logo img {
    vertical-align: middle
}

.h_icon {
    padding: 0 40px;
    color: #222121;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.26)
}

.h_icon span {
    display: inline-block;
    padding-left: 30px
}

.h_icon span.qq {
    background: url(images/icon1.png) no-repeat left center
}

.h_icon span.tel {
    background: url(images/icon2.png) no-repeat left center
}

.h_text {
    color: #222121;
    margin-right: 112px;
    padding: 0 30px
}

.menu_btn {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width: 112px;
    right: 0;
    top: 0;
    background: #16aeff;
    height: 81px
}

.menu_btn label {
    display: block;
    width: 32px;
    height: 3px;
    background: #ffffff;
    margin: 2px auto;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0
}

.menu_btn label.lbl1 {
    margin-top: -10px
}

.menu_btn label.lbl2 {
    margin-top: 0
}

.menu_btn label.lbl3 {
    margin-top: 10px
}

.menu {
    position: fixed;
    top: 0;
    right: -340px;
    bottom: 0;
    background: #1e2a3d;
    width: 340px;
    z-index: 99
}

.menu ul {
    margin-top: 80px;
    border-top: 1px solid rgba(255,255,255,.05)
}

.menu li a {
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    padding: 35px;
    color: #222121;
    line-height: 1.2em
}

.menu li a:hover,.menu li.on a {
    background-position: 95% center;
    background-color: #17202e
}

.menu li h4 {
    padding: 5px 0;
    padding-left: 70px;
    font-size: 16px;
    font-weight: 400
}

.menu li span {
    font-size: 10px;
    opacity: .2;
    display: block;
    text-transform: uppercase;
    margin-top: 5px
}

.page1_text {
    overflow: hidden
}

@media only screen and (max-height: 780px) {
    .menu li a {
        padding:30px
    }
}

@media only screen and (max-height: 700px) {
    .menu li a {
        padding:20px
    }
}

.h_menu .h_text {
    margin-right: 340px
}

.h_menu .menu_btn {
    right: 228px
}

.h_menu .menu {
    right: 0
}

.h_menu .menu_btn label.lbl1 {
    transform: rotate(45deg);
    margin-top: 0
}

.h_menu .menu_btn label.lbl2 {
    opacity: 0
}

.h_menu .menu_btn label.lbl3 {
    transform: rotate(-45deg);
    margin-top: 0
}

.banner .item img {
    display: block
}

p {
    text-align: justify
}

.banner p {
    text-align: center
}

.banner .item {
    position: relative;
    font-family: Arial
}

.banner .item .text {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #222121;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-shadow: 0 2px 10px rgba(0,0,0,.5)
}

.banner .item .text h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 25px
}

.page {
    padding: 140px 0
}

.page1_text .img_box {
    width: 470px;
    float: left;
    text-align: center;
    margin-right: 40px
}

.page1_text .img_box .img {
    box-shadow: 0 2px 10px rgba(0,0,0,.5)
}

.img_box img {
    display: block;
    margin: 0 auto
}

.page1_text .text {
    overflow: hidden;
    line-height: 30px;
    color: #2b2b2b;
    padding-top: 70px
}

.page1_text .text h3 {
    font-size: 26px;
    font-weight: 400;
    color: #222121
}

.page1_text .text h4 {
    font-size: 22px;
    font-weight: 400;
    color: #222121;
    margin-bottom: 25px
}

.page7 .page1_text .text p {
    height: auto
}

.page1_text .text h2 {
    font-size: 46px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #222121
}

.page1_text .text p {
    height: 210px;
    overflow: hidden
}

.page1_text .text .btn {
    margin-top: 40px
}

.btn #tj {
    display: inline-block;
    width: 110px;
    line-height: 34px;
    background: #16aeff;
    color: #ffffff;
    text-align: center;
    border: 0
}

.btn a {
    display: inline-block;
    width: 110px;
    line-height: 34px;
    background: #16aeff;
    color: #ffffff;
    text-align: center
}

.btn a:hover {
    background: #00639a
}

.page2_text {
    padding: 90px 45px;
    background: rgba(255,255,255,.03);
    line-height: 30px
}

.page2_text .img_box {
    float: left;
    padding-left: 90px;
    position: relative;
    margin-right: 50px
}

.page2_text .img_box .text1 {
    position: absolute;
    top: 0;
    left: 0
}

.page2_text .img_box .text1 span {
    display: block;
    width: 1em;
    padding-right: 20px;
    font-size: 26px;
    line-height: 40px
}

.page2_text .img_box .text1 span:after {
    content: '';
    position: absolute;
    right: -4px;
    top: 10px;
    display: inline-block;
    width: 4px;
    height: 60px;
    background: #222121
}

.page2_text {
    margin-bottom: 100px
}

.page2_text .img_box .img {
    float: left;
    margin: -140px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,.45)
}

.page2_text .text {
    overflow: hidden;
    color: #2b2b2b
}

.page2_text .text h3 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #222121
}

.page2_text .text h3 a {
    color: #222121
}

.page2_owl {
    position: relative;
    padding: 0 15%
}

.owl_cur {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 5%;
    right: 5%
}

.owl_cur span {
    display: block;
    width: 2em;
    text-align: center;
    padding: 0 20px;
    opacity: .8;
    line-height: 1.2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl_cur span.prev {
    float: left;
    background: url(../images/cur1.png) no-repeat left center
}

.owl_cur span.next {
    float: right;
    background: url(../images/cur2.png) no-repeat right center
}

.page2_owl .item {
    max-width: 180px;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,.2);
    margin-bottom: 20px
}

.page2_owl .item .box {
    cursor: pointer;
    padding: 20px;
    padding-right: 0
}

.page2_owl .item .box .img1 {
    height: 70px
}

.page2_owl .item .box h3 {
    font-size: 14px
}

.page2_owl .item .box p {
    font-size: 10px;
    text-transform: uppercase;
    opacity: .4;
    text-align: left
}

.page2_owl .item.on,.page2_owl .item:hover {
    border: 1px solid rgba(255,255,255,.6)
}

.page2_owl .item.on .box,.page2_owl .item .box:hover {
    background: rgba(255,255,255,.2)
}

.page3_text {
    margin-right: 40px;
    width: 408px;
    line-height: 30px;
    float: left
}

.page3_text p {
    height: 240px;
    color: #555555
}

.page3_text h3 {
    font-size: 26px
}

.page3_text .list ul li {
    width: 33.33%;
    float: left
}

.page3_text .list {
    margin-bottom: 20px;
    padding: 10px 0 30px;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.page3_text h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px
}

.page3_text .list ul li a {
    display: block;
    margin: 10px;
    line-height: 34px;
    border: 1px solid rgba(255,255,255,.2);
    text-align: center;
    color: #222121
}

.page3_text .list ul li.on a,.page3_text .list ul li a:hover {
    background: rgba(255,255,255,.2);
    border-color: rgba(29, 29, 29, 0.6)
}

.page3_text .list ul {
    margin: -10px
}

.page3_list::-webkit-scrollbar {
    width: 12px;
    background: rgba(255,255,255,.1)
}

.page3_list::-webkit-scrollbar-thumb {
    background: #16aeff
}

.page3_list {
    padding-right: 10px;
    height: 548px;
    overflow: hidden;
    overflow-y: auto
}

.page3_list .list ul li {
    width: 33.333%;
    float: left
}

.page3_list .list ul {
    margin: -5px
}

.page3_list .list ul li a {
    display: block;
    margin: 5px;
    position: relative
}

.page3_list img {
    display: block
}

.page3_list a:hover .text {
    opacity: 1
}

.page3_list .text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg1.png) no-repeat bottom right
}

.page3_list .text span {
    display: block;
    width: 1em;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222121;
    line-height: 1.2em
}

label.line {
    display: inline-block;
    width: 60px;
    height: 4px;
    background: #222121;
    margin: 20px 0
}

.page_tit {
    text-align: center
}

.page_tit.left {
    text-align: left
}

.page_tit h3 {
    font-size: 26px
}

.team_owl {
    position: relative
}

.team_owl .owl_cur {
    left: 0;
    right: 0
}

.team_text {
    position: relative;
    text-align: center
}

.team_text h4 {
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400
}

.team_text p {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px
}

.team_owl .item {
    max-width: 200px;
    margin: 0 auto;
    background: rgba(255,255,255,.03);
    text-align: center;
    margin-top: 120px
}

.team_owl .item:hover,.team_owl .item.on {
    margin-top: 80px;
    border-bottom: 1px solid rgba(255,255,255,.2)
}

.team_owl .item .text {
    padding: 25px 0
}

.team_owl .item .text h3 {
    font-size: 18px;
    margin-bottom: 15px
}

.team_owl .item .text h3 a {
    color: #222121
}

.team_owl .item p {
    text-align: center
}

.owl_carousel {
    position: relative
}

.news_owl {
    padding: 0 7%;
    margin: 0 auto;
    margin-top: 50px
}

.news_owl .owl_cur {
    left: 0;
    right: 0;
    top: 35%
}

.news_owl .item {
    line-height: 30px;
    max-width: 338px;
    margin: 0 auto
}

.news_owl .item h3 {
    margin-bottom: 10px;
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: #222121;
    margin-top: 10px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.news_owl .item p {
    height: 90px;
    overflow: hidden;
    margin-bottom: 25px
}

.news_owl .item .bottom {
    color: #222121
}

.news_owl .item .bottom .btn {
    float: right
}

.btn span {
    display: block;
    width: 76px;
    line-height: 28px;
    background: #16aeff;
    color: #ffffff;
    text-align: center
}

.page6_text {
    width: 45%;
    float: left
}

.page6 {
    position: relative
}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center
}

.copyright p {
    text-align: center;
    opacity: .36
}

.copyright p a {
    color: #2b2b2b
}

.page6_contact {
    background: rgba(255,255,255,.05);
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 5px;
    width: 45%;
    float: right;
    padding: 25px 0
}

.page6_contact .list {
    padding: 0 25px
}

.page6_contact .list li {
    width: 48%;
    margin: 0 1%;
    float: left;
    margin-bottom: 25px
}

.page6_contact .list li.li_last {
    width: 98%
}

.page6_contact .list ul {
    margin: 0 -1%
}

.page6_contact .list span {
    display: block;
    margin-bottom: 10px;
    color: #afb6be
}

.div_input {
    background: #222121;
    padding: 0 15px;
    line-height: 46px
}

.div_input textarea {
    padding: 10px 0;
    background: 0 0;
    height: 150px;
    width: 100%;
    border: 0;
    resize: none
}

.div_input input {
    background: 0 0;
    width: 100%;
    border: 0
}

.page6_contact h3 {
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    margin-bottom: 25px
}

.page6_text .list ul li {
    margin-top: 15px;
    line-height: 40px;
    padding-left: 64px
}

.page6_text .list ul li p {
    color: #222121
}

.page6_text .list ul li.li1 {
    background: url(images/icon8.png) no-repeat left center
}

.page6_text .list ul li.li2 {
    background: url(images/icon9.png) no-repeat left center
}

.page6_text .list ul li.li3 {
    background: url(images/icon10.png) no-repeat left center
}

.page6_text .ewm {
    width: 172px;
    position: relative;
    padding: 12px;
    margin-top: 40px
}

.page6_text .ewm i {
    display: block;
    width: 22px;
    height: 22px;
    border-style: solid;
    border-color: #222121;
    position: absolute
}

.page6_text .ewm i.i_t {
    top: 0;
    border-top-width: 2px
}

.page6_text .ewm i.i_l {
    left: 0;
    border-left-width: 2px
}

.page6_text .ewm i.i_r {
    right: 0;
    border-right-width: 2px
}

.page6_text .ewm i.i_b {
    bottom: 0;
    border-bottom-width: 2px
}

.page6_text .ewm img {
    display: block
}

.page6_contact .btn {
    margin: 20px 0
}

.center {
    text-align: center
}

.mainer {
}

.full {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1001
}

.full li a {
    display: block;
    width: 52px;
    height: 52px;
    margin-bottom: 1px;
    position: relative;
    background: rgba(255,255,255,.2);
    z-index: 1
}

.full li a:hover span,.full li a:hover label {
    background-color: #16aeff!important
}

.full li:last-child a {
    border-bottom: 0
}

.full li a span {
    display: block;
    width: 52px;
    height: 52px;
    position: relative;
    z-index: 100;
    background-position: center center;
    background-repeat: no-repeat
}

.full li:nth-child(2) a,.full li:nth-child(1) a {
    z-index: 2
}

.full li a label {
    display: block;
    width: 100px;
    white-space: nowrap;
    padding: 0 20px;
    position: absolute;
    line-height: 52px;
    color: #222121;
    z-index: -1;
    background: #000;
    bottom: 0;
    left: 100%;
    box-sizing: inherit;
    max-width: 300%
}

.full li a:hover label {
    left: -120px
}

.full li a .lbl_img {
    padding: 10px;
    height: auto;
    line-height: normal
}

.page_tag {
    padding: 20px 0;
    margin-bottom: 60px;
    text-align: center
}

.page_tag ul {
    display: inline-block;
    border: 1px solid rgba(255,255,255,.2)
}

.page_tag ul li {
    margin-right: -3px;
    display: inline-block
}

.page_tag ul li a {
    display: block;
    padding: 0 28px;
    position: relative;
    line-height: 34px;
    color: #222121
}

.page_tag ul li a:after {
    content: "|";
    display: block;
    position: absolute;
    top: 0;
    right: -2px;
    opacity: .26
}

.page_tag ul li:last-child a:after {
    display: none
}

.page_tag ul li a:hover,.page_tag ul li.on a {
    background: #16aeff
}

.page_tag ul li a:hover:after,.page_tag ul li.on a:after {
    display: none
}

.fzlc_list .list {
    padding: 20px 0;
    position: relative
}

.fzlc_list .list .line {
    position: absolute;
    left: 158px;
    top: 0;
    bottom: 0;
    width: 6px;
    background: #222121;
    opacity: .2
}

.fzlc_list ul li {
    padding: 15px 0
}

.fzlc_list ul li span {
    font-size: 32px;
    position: relative;
    display: block;
    width: 160px;
    float: left;
    margin-right: 100px
}

.fzlc_list ul li span:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #222121;
    border: 3px solid #16aeff;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    right: -11px
}

.fzlc_list ul li .text {
    overflow: hidden;
    min-height: 90px
}

.fzlc_list ul li .text p {
}

.mainer {
    position: relative
}

.jxry_list ul li {
    width: 25%;
    float: left
}

.jxry_list ul li a {
    font-size: 18px;
    color: #222121;
    text-align: center;
    display: block;
    margin: 10px;
    line-height: 50px
}

.jxry_list ul li .img {
    max-width: 256px;
    margin: 0 auto;
    margin-bottom: 10px
}

.jxry_list ul li img {
    display: block
}

.zp_list ul li {
    width: 25%;
    float: left
}

.zp_list ul li a {
    font-size: 18px;
    color: #222121;
    text-align: center;
    display: block;
    margin: 10px;
    line-height: 50px
}

.zp_list ul li .img {
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 10px
}

.zp_list ul li img {
    display: block
}

.pagesize {
    margin: 50px 0;
    text-align: center
}

.pagesize a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 40px;
    vertical-align: middle;
    background-color: #edf1f2;
    margin: 0 5px;
    color: #4f6074
}

.pagesize a.prev {
    background-image: url(img/prev.png)
}

.pagesize a.next {
    background-image: url(images/next.png)
}

.pagesize a.on,.pagesize a:hover {
    background-color: #16aeff;
    color: #222121
}

.footer {
}

.team_list {
}

.team_list ul {
    margin: 0 -1.5%
}

.team_list ul li {
    float: left;
    width: 47%;
    margin: 0 1.5% 30px;
    background: #19304b;
    position: relative
}

.team_list ul li .img {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden
}

.team_list ul li .img img {
    display: block;
    width: 100%
}

.team_list ul li .web {
    overflow: hidden;
    padding: 38px 30px 0 20px
}

.team_list ul li .web h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px
}

.team_list ul li .web h3 a {
    color: #222121
}

.team_list ul li .web h3 span {
    float: right;
    width: 95px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #16aeff;
    font-size: 14px;
    border-radius: 3px
}

.team_list ul li .web p {
    margin-top: 20px
}

.team_list ul li .web a.btn_def {
    display: block;
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #16aeff;
    color: #222121;
    position: absolute;
    bottom: 0;
    right: 0
}

.yewu_list {
}

.yewu_list ul li {
    margin-bottom: 30px;
    background: #18304a
}

.yewu_list ul li .img {
    float: left;
    width: 245px;
    height: 270px;
    overflow: hidden
}

.yewu_list ul li .img img {
    display: block;
    width: 100%
}

.yewu_list ul li .web {
    overflow: hidden;
    padding: 40px 64px 0 44px
}

.yewu_list ul li .web h3 {
    font-size: 22px
}

.yewu_list ul li .web h3 a {
    color: #222121
}

.yewu_list ul li .web p {
    margin-top: 17px
}

.modal,.fp_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0s
}

.fp_modal {
    display: table;
    background: rgba(20,29,38,.8)
}

.cell {
    display: table-cell;
    vertical-align: middle
}

.modal_cont {
    width: 90%;
    max-width: 1145px;
    background: #222121;
    margin: 0 auto;
    position: relative;
    padding: 30px 0 0
}

.md_close {
    width: 33px;
    height: 33px;
    background: url(images/close.png) no-repeat center center;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer
}

.news_md_cont {
}

.page1_text .tit {
    border-bottom: 1px solid #333333;
    padding-bottom: 5px;
    margin: 20px
}

.page1_text .tit h3 {
    font-size: 26px;
    color: #222121;
    text-align: center
}

.page1_text .tit p {
    color: #222121;
    margin-top: 5px
}

.news_md_cont .web {
    margin: 30px 0 0;
    height: 448px;
    padding: 0 20px;
    overflow-y: auto
}

.news_md_cont .web .img {
    float: left;
    margin-right: 30px;
    margin-top: 8px
}

.news_md_cont .web .img img {
    display: block
}

.news_md_cont .web .text {
}

.news_md_cont .web .text p {
    color: #666;
    line-height: 28px
}

.btn_sx {
    line-height: 60px;
    padding: 0 8px;
    margin-top: 27px;
    border-top: 1px solid #333333
}

.btn_sx p {
    text-align: right;
    color: #333333
}

.btn_sx a {
    color: #666;
    margin: 0 12px
}

.btn_sx a:hover {
    color: #16aeff
}

.job_list {
}

.job_list ul li {
    border: 1px solid #41556b;
    background: #1e354f;
    border-radius: 3px;
    margin-bottom: 20px
}

.job_list ul li .tit {
    padding: 35px 40px 40px 30px
}

.job_list ul li .tit h3 {
    font-size: 22px;
    color: #2fb5ff
}

.job_list ul li .tit h3 label {
    float: right;
    width: 24px;
    height: 24px;
    background: url(images/icon11.png) no-repeat center center;
    margin-top: 3px
}

.job_list ul li.on .tit h3 label {
    background: url(images/icon11-1.png) no-repeat center center
}

.job_list ul li .tit p {
    font-size: 18px;
    color: #222121;
    margin: 15px 0 12px
}

.job_list ul li .tit span {
    display: block;
    width: 136px;
    height: 22px;
    line-height: 22px;
    background: #0c2036;
    color: #222121;
    border-radius: 5px;
    text-align: center
}

.job_list ul li .drop {
    padding: 18px 30px 45px 37px;
    border-top: 1px solid #41556b;
    transition: all 0s;
    display: none
}

.job_list ul li .drop .text {
    margin-top: 22px
}

.job_list ul li .drop .text h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 36px
}

.job_list ul li .drop .text p {
}

@media only screen and (max-width: 1200px) {
    .banner .item .text h2 {
        font-size:36px
    }
}

@media only screen and (max-width: 1000px) {
    .page3_list .list ul li {
        width:50%
    }

    .page2_text .img_box .img {
        width: 300px;
        margin: -90px 0
    }

    .page2_text {
        padding: 50px
    }

    .page2_text .text h3 {
        margin-bottom: 10px
    }

    .h_icon {
        padding: 0 20px
    }

    .header .logo {
        width: 180px
    }

    .h_text {
        padding: 0 10px
    }

    .zp_list ul li {
        width: 33.33%
    }

    .yewu_list ul li .web {
        padding: 20px;
        padding-bottom: 0
    }

    .team_list ul li {
        width: 97%
    }

    .page1_text .img_box {
        width: 40%
    }

    .page1_text .text {
        padding-top: 20px
    }
}

@media only screen and (max-width: 800px) {
    .page_tag {
        margin-bottom:20px
    }

    .page {
        padding: 100px 0
    }

    .h_menu .h_text {
        margin: 0;
        z-index: 100;
        position: absolute;
        right: 0
    }

    .fzlc_list ul li span {
        width: 120px;
        margin-right: 40px
    }

    .fzlc_list .list .line {
        left: 118px
    }

    .jxry_list ul li {
        width: 33.333%
    }

    .page_tag ul li {
        display: block;
        width: 16.66666%;
        float: left;
        margin: 0 auto
    }

    .page_tag ul li a {
        padding: 0;
        display: block
    }

    .page_tag ul {
        display: block
    }

    .page_tag ul:after {
        content: '';
        display: block;
        clear: both
    }

    .page1_text .text,.page1_text .text p {
        height: auto;
        overflow: initial
    }

    .page1_text .img_box {
        margin-right: 20px
    }

    .yewu_list ul li .web {
        overflow: initial
    }

    .yewu_list ul li .img {
        margin-right: 20px
    }

    .page6_text,.page6_contact {
        width: 100%;
        float: none
    }

    .page6_text {
        margin-bottom: 20px
    }

    .page2_text .img_box .img {
        width: 250px
    }

    .page2_text {
        margin-bottom: 40px;
        padding: 40px 30px
    }

    .page2_text .img_box {
        margin-right: 20px
    }

    .page3_text,.page3_list {
        width: 100%;
        float: none
    }

    .page3_text p {
        height: auto
    }

    .page3_text {
        margin-bottom: 30px
    }

    .page3_list .list ul li {
        width: 33.333%
    }

    .page3_list {
        height: auto
    }

    .team_text .text {
        width: 80%;
        margin: 0 auto
    }

    .page_tit.left {
        text-align: center
    }

    .page6_text .text p {
        text-align: center;
        width: 90%;
        margin: 0 auto
    }

    .page6_text .list li {
        display: inline-block;
        margin: 0 15px
    }

    .page6_text .ewm {
        margin: 20px auto
    }

    .page6_text {
        text-align: center
    }

    .banner .item .text h2 {
        font-size: 26px
    }

    .banner .item .text {
        font-size: 16px
    }

    .page2_owl {
        padding: 0 60px
    }

    .owl_cur {
        left: 0;
        right: 0
    }
}

@media only screen and (max-width: 750px) {
    .h_icon {
        line-height:30px;
        display: none
    }

    .h_text {
        margin-right: 60px
    }

    .menu_btn {
        width: 60px;
        height: 60px
    }

    .header {
        line-height: 60px
    }

    .menu ul {
        margin-top: 60px
    }

    .h_menu .menu_btn {
        right: 280px
    }

    .banner .img1 {
        overflow: hidden
    }

    .banner .img1 img {
        width: 180%;
        margin-left: -40%;
        max-width: inherit
    }

    .wrap {
        width: 90%
    }

    .banner .item .text {
        margin-top: 20px
    }

    .page1_text .img_box {
        width: 100%;
        float: none;
        margin: 0;
        margin-bottom: 20px
    }

    .page {
        padding: 20px 0
    }

    .page2_text .img_box {
        margin-right: 0;
        float: none
    }

    .page2_text .img_box:after {
        content: '';
        clear: both;
        display: block
    }

    .page2_text .img_box .img {
        margin: 0 20px;
        width: 200px
    }

    .full {
        display: none
    }

    .page3_text .list ul li a {
        margin: 5px
    }

    .page3_text .list ul {
        margin: 0
    }

    .page3_text .line {
        margin-bottom: 0
    }

    .page3_text p {
        margin-bottom: 15px
    }

    .team_text .text {
        width: auto;
        margin: 0 0
    }

    .team_owl .owl_cur {
        bottom: -40px;
        top: auto;
        z-index: 100
    }

    .team_text {
        z-index: 100
    }

    .team_owl .item {
        margin-top: 80px
    }

    .team_owl .item:hover,.team_owl .item.on {
        margin-top: 40px
    }

    .news_owl {
        padding: 0 0
    }

    .news_owl .owl_cur {
        z-index: 10
    }

    .page6_text .list ul li {
        display: block
    }

    .page6_contact .list li {
        width: 98%
    }

    .mainer {
        padding-bottom: 80px
    }

    .copyright {
        bottom: 10px
    }

    .page6_text .list ul li p {
        line-height: 20px;
        padding: 10px 0
    }

    .page_tag ul li {
        width: 33.333%
    }

    .page7,.page8 {
        padding-top: 80px
    }

    .zp_list ul li {
        width: 50%
    }

    .zp_list ul li a {
        font-size: 14px;
        line-height: 30px
    }

    .header.fixed {
        background: rgba(0,0,0,.75)
    }

    .yewu_list ul li .img {
        margin-right: 0;
        width: 100%;
        float: none
    }

    .yewu_list ul li .web {
        padding: 15px
    }

    .team_list ul li .img {
        float: none;
        width: 100%;
        height: auto;
        margin: 0 auto
    }

    .team_list ul li .web {
        padding: 20px 15px;
        padding-bottom: 40px
    }

    .news_md_cont .web .img {
        float: none;
        width: 100%
    }

    .team_list ul li .web p {
        margin-top: 10px
    }

    .modal_cont {
        padding: 15px 0
    }

    .news_md_cont .web {
        margin-top: 15px;
        height: 350px
    }

    .btn_sx {
        line-height: 30px
    }

    .jxry_list ul li {
        width: 50%
    }

    .jxry_list ul li a {
        font-size: 14px;
        line-height: 40px;
        margin: 5px
    }

    .jxry_list ul {
        margin: 0 -5px
    }

    .job_list ul li .tit {
        padding: 10px
    }

    .job_list ul li .drop {
        padding: 10px
    }

    .job_list ul li .drop .text {
        margin-top: 0
    }

    .fzlc_list ul li span {
        font-size: 22px;
        width: 80px;
        margin-right: 35px
    }

    .fzlc_list .list .line {
        left: 78px
    }

    .job_list ul li .tit p {
        font-size: 14px
    }

    .ht50 {
        height: 10px
    }

    .page1_text .text h2 {
        font-size: 30px
    }

    .copyright p {
        font-size: 12px;
        margin: 0 15px
    }
}

.dede_pages {
    height: 28px;
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
    color: #16aeff
}

.dede_pages ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0
}

.dede_pages ul li {
    float: left;
    font-family: microsoft yahei;
    margin: 0 2px;
    padding: 0 10px;
    line-height: 25px;
    border: 1px solid #16aeff
}

.dede_pages ul li a {
    float: left;
    color: #16aeff;
    display: block
}

.dede_pages ul li:hover {
    text-decoration: none;
    color: #222121;
    border: 1px #16aeff solid;
    background-color: #16aeff
}

.dede_pages ul li:hover a {
    color: #222121
}

.dede_pages ul li:hover a:hover {
    color: #222121;
    text-decoration: none
}

.dede_pages ul li.thisclass {
    background-color: #16aeff;
    color: #222121;
    border: 1px #16aeff solid
}

.dede_pages ul li.thisclass a {
    color: #222121
}

.dede_pages .pageinfo {
    line-height: 30px;
    padding-left: 5px
}

.dede_pages strong {
    font-weight: 400
}

#maximg img {
    max-width: 100%!important;
    height: auto!important
}
.owl-nav {
    transform: translate(0, -300px);
}
.owl-nav img {
    border-radius: 50px;
    background-color: white;
    padding: 15px;
    height: 25px;
}
.bantx {
    color: #ffffff;
}
.bantx p {
    color: #ffffff;
}
.butn {
    border: none;
    padding: 15px;
    width: 250px;;
    background-color: #fdff81;
}
.butn:focus {
    background-color: #feffc7;
}